@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Goldman";
  font-weight: normal;
  src: url("/font/Goldman-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Goldman";
  font-weight: 900;
  src: url("/font/Goldman-Bold.ttf") format("truetype");
}

body {
  font-family: Goldman;
  background-color: black;
  overflow: hidden;
}
@keyframes fade-down {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

.animate-fade-down {
  animation: fade-down 1s ease-in-out infinite alternate-reverse;
  animation-fill-mode: both;
}
.animate-fade-down2 {
  animation: fade-down 2s ease-in-out infinite alternate-reverse;
  animation-fill-mode: both;
}
